<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GPUImageDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2628D23D1F0A8BA3002B830B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2628D2511F0A8BA3002B830B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2628D25C1F0A8BA3002B830B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
